
$base-color: #00435e;

$font-size-big: 13px;

$panel-header-font-size-big: 10px;

$panel-header-min-height-big: 15px;

$panel-header-line-height-big: 15px;

$button-icon-font-size-big: 14px;

$treelist-item-icon-font-size-big: 14px;

$treelist-item-expander-font-size-big: 20px;

$item-line-height-big: 37px;

$treelist-item-line-height-big: 29px;

$item-line-height-big: 20px;